body {
    background-color: aqua;
}


.wrapper {
    display: flex;
    background-color: aqua;
    min-height: 100vh;
    justify-content: space-between;
}


.menu-lateral {
    width: 300px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.menu-lateral ul {
    list-style-type: none;
    padding: 0;


}

.menu-lateral li {
    margin-bottom: 10px;
}

.menu-lateral a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s;
}

.menu-lateral a:hover {
    background-color: red;
}


.conteudo {
    flex-grow: 1;
    padding: 20px;
}

#menu-lateral-direito {
    width: 300px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

#menu-lateral-direito h2 {
    margin-bottom: 20px;
}

#menu-lateral-direito ul {
    list-style-type: none;
    padding: 0;
}

#menu-lateral-direito li {
    margin-bottom: 10px;
}

#menu-lateral-direito a {
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s;
}

#menu-lateral-direito a:hover {
    background-color: red;
}

.menu-lateral button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
}

.menu-lateral button:hover {
    background-color: red;
}

#botoes1 {
    margin-top: 20px;
    padding: 5px;
    padding-left: 20px;
}

#botoes1:active
{
    box-shadow: 2px 3px 1px;
    transform: translate(4px, 6px);
}

#botoes2 {
    margin-top: 20px;
    padding: 5px;
    padding-left: 20px;
}

#botoes2:active
{
    box-shadow: 2px 3px 1px;
    transform: translate(4px, 6px);
}

#botoes3 {
    margin-top: 20px;
    padding: 5px;
    padding-left: 20px;
}

#botoes3:active
{
    box-shadow: 2px 3px 1px;
    transform: translate(4px, 6px);
}

.dropdown-content {
    display: none;
    position: relative;
    min-width: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    top: 5px;
    padding: 5px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}




.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: -10px;
}

.foto {
    flex: 0 0 calc(33.333% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.foto img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

#navbar-top {
    background-color: #333;
    color: #fff;
    text-align: center;
    align-items: center;
}